.component{
    min-height: 100vh;
    background-color: black;
    max-width: 100vw;
}
.nav{
    display: flex;
    background-color: black;
    margin-bottom: 15px;
    align-items: baseline;
    justify-content: space-around;
}
.title{
    background-color: black;
  
    font-size: 28px;
    padding: 2px;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    width: 30%;
}
.link{
    text-decoration: none;
    color: #84bd00;
}
.search-bar{
    width: 30%;
}

.container{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 92vh;
    

}
.artist{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1ed761;
}
.artist-img{
    width: 20%;
    height: 100%;;
}
.artist-info{
    width: 70%;
    margin-left: 20px;

}
 .albums-container{
    margin: 0 auto;
    width: 80%;
     display: flex;
     flex-wrap: wrap;

 

 }
 .list-of-albums-li{
     width: 50%;
     display: flex;
     align-items: center;
     cursor: pointer;
    padding: 10px;

 }
 .list-of-albums{
     display: flex;
     align-items: center;
     flex-wrap: wrap;

     

 }

 .name{
        font-size: 24px;

 }
 .img{
     width: 50%;
 }
 .album-info{
     margin-left: 10%;
     width: 40%;
 }
 @media screen and (max-width: 992px) {
    .list-of-albums-li{
        width: 100%;
    }
    .search-bar{
        width: 70%;
        
    }
    .title{
        width:25%;
        margin: 10px;
    }
   }