<div class="component"> 
<div class="nav">
    
        <h2 class="title">            
                <a routerLink="/" class="link"> Spotify Client </a> 
               </h2>
            <div class="search-bar">
                <app-search-bar></app-search-bar>
            </div>
</div>
<div class="container">

        <div class="albums-container">
            <div class="artist" *ngIf="artist">
                    <img [src]="artist.images[0].url" class="artist-img" >
                <div class="artist-info">
                        <h3>{{artist.name}}</h3>
                        <h3>{{artist.genres[0]}}</h3>
                        <h3>Followers: {{artist.followers.total}}</h3>
                </div>
              


            </div>

                <li class="list-of-albums-li" *ngFor="let album of albums" >
                        <div class="list-of-albums" (click)="showTracks(album.id, album.images[0], album.name, album.release_date)" >
                            
                            <div class="img">
        
                                <img [src]="album.images[0].url" max-height="100%" width="100%"> 
                            </div>
                            <div class="album-info">

                                    <h3 class="name" >
                                            {{album.name}}
                                    </h3>
                                        <p>{{album.release_date}}</p>
                                        <p>Tracks: {{album.total_tracks}}</p>
                                        <p>{{album.album_type}}</p>
                            </div>
                        
                
                        
                        </div>
                     
                    </li>
                   
        </div>
        

</div>
</div>